flask 
google-api-python-client 
requests
numpy
flask_cors
Pillow
scikit-learn
dotenv
google.generativeai
opencv-python
PyMuPDF
tensorflow
isodate
youtube-transcript-api
PyPDF2
python-docx
moviepy==1.0.3
SpeechRecognition